<div class="space-y-6 mt-4">
<div class="mb-4">
  <div data-controller="egr-selector">
    <h2 class="text-lg font-bold mb-2">EGR</h2>

    <div class="mb-4">
      <div class="font-semibold mb-1">Group 1</div>
      <div class="flex gap-2" data-egr-selector-group="1">
        <% [0.0, 0.1, 0.5].each do |val| %>
          <button 
          type="button"
          class="bg-green-500 text-white rounded px-2 py-1"
          data-egr-selector-target="button"
          data-action="click->egr-selector#select"
          ><%= val %>
          </button>
        <% end %>
      </div>
    </div>

    <% ['2', '3'].each do |group| %>
      <div class="mb-4">
        <div class="font-semibold mb-1">Group <%= group %></div>
        <div class="flex gap-2" data-egr-selector-group="<%= group %>">
          <% [0.0, 0.1, 0.3, 0.5].each do |val| %>
            <button 
            type="button"
            class="bg-green-500 text-white rounded px-2 py-1"
            data-egr-selector-target="button"
            data-action="click->egr-selector#select"
            ><%= val %>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>

    <div>
      <div class="font-semibold mb-1">Group 4</div>
      <div class="flex flex-wrap gap-2" data-egr-selector-group="4">
        <% (0..10).each do |n| %>
          <% val = (n.to_f / 10).round(1)%>
          <button 
            type="button"
            class="bg-green-500 text-white rounded px-2 py-1"
            data-egr-selector-target="button"
            data-action="click->egr-selector#select"
            ><%= val %>
            </button>
        <% end %>
      </div>
    </div>
  </div>
    
  <div class="mb-2 mt-8">
    <div data-controller="bonus-selector">
      <h2 class="text-lg font-bold mb-2">Connection Value + Bonus</h2>
      <div class="flex flex-wrap gap-2">
        <% (0..10).each do |n| %>
          <% val = (n.to_f / 10).round(1)%>
          <button 
            type="button"
            class="bg-purple-500 text-white rounded px-2 py-1"
              data-bonus-selector-target="button"
              data-action="click->bonus-selector#select"
            ><%= val %>
          </button>
        <% end %>
      </div>
    </div>
  </div>

</div>
</div> 